<% flash.each do |type, msg| %>
    <% if type == "error" %>
        <div id="flash-message" class="alert alert-danger float-message" role="alert">
            <%= msg %>
        </div>
    <% else %>
        <div id="flash-message" class="alert alert-info float-message" role="alert">
            <%= msg %>
        </div>
    <% end %>
<% end %>