<% if user_signed_in? == true && current_user.access_right_enum == 2 %>
  <div id="main">
    <button id ="openbtn" class="btn openbtn" onclick="openNav()">&#9776;</button>
  </div>
<% end %>

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <% if page.eql? "products" %>
    <h1 class="display-4 sidebar-title" style="text-align:center" >Product Operations</h1>
    <br/>
    <div style="border-bottom: 1px dotted black;"></div>
    <br/>
    <%= link_to (new_product_path), remote: true, class: "btn btn-sidebar" do %>
        <%= fa_icon "plus" %> Create New Product
    <% end %>
  <% else %>
    <h1 class="display-4 sidebar-title" style="text-align:center" >Product Part Operations</h1>
    <br/>
    <div style="border-bottom: 1px dotted black;"></div>
    <br/>
    <%= link_to (new_product_part_path), remote: true, class: "btn btn-sidebar" do %>
        <%= fa_icon "wrench" %> Create New Part
    <% end %>
  <% end %>
</div>