<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <h1 class="display-4 sidebar-title" style="text-align:center" >Menu</h1>
  <div style="border-bottom: 1px dotted black;"></div>
  <br />
  <% if page.eql? "products" %>
    <%= link_to (new_product_path), remote: true, class: "btn btn-sidebar" do %>
        <%= fa_icon "plus" %> Create New Product
    <% end %>
  <% else %>
    <%= link_to (new_product_part_path), remote: true, class: "btn btn-sidebar" do %>
        <%= fa_icon "wrench" %> Create New Part
    <% end %>
  <% end %>
</div>