<h1>My Cart</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Line Item Id</th>
      <th scope="col">Quantity</th>
      <th scope="col">Subtotal</th>
      <th scope="col" colspan="3" style="text-align:center" >Action</th>
    </tr>
  </thead>

  <tbody>
    <%= render @cart.sale_transaction_line_items %>
  </tbody>

</table>

<p>Cart Total: <%= number_to_currency(@cart.total_price) %></p>
<br/>

<% if @cart.sale_transaction_line_items.present? %>
  <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= button_to "Check out", sale_transactions_path, method: :post %>
<% end %>