<tr>
  <td><%= product_part.name %></td>
  <td><%= product_part.product.name %></td>
  <td><%= product_part.created_at.strftime(" %d/%m/%Y") %></td>
  <td><%= product_part.date_expired.strftime(" %d/%m/%Y") %></td>
</tr>