<br/>

<h3>View All Products</h3>

<div id="new-product">
</div>

<div id="edit-product">
</div>

<div id="errors">
</div>

<div style="
  width: 100%;
  margin: 0 auto;
">
  <table id="table_products" class="display table table-striped table-bordered" role="datatable" style="width:100%">
    
    <thead>
      <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Description</th>
        <th>Unit price</th>
        <th style="text-align: center">Action</th>
      </tr>
    </thead>

    <tbody id="products">
      <%= render @products %>
    </tbody>

  </table>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#table_products').DataTable({
      fixedColumns: { leftColumns: 1 },
      scrollX: true,
      scrollCollapse: true,
      scrollY: "500px",
      paging: false
    });
  });
</script>
