<h1>Products</h1>

<div id="new-product">
</div>

<div id="edit-product">
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Unit price</th>
      <th scope="col" colspan="4" style="text-align:center" >Action</th>
    </tr>
  </thead>

  <tbody id="products">
    <%= render @products %>
  </tbody>
  
</table>
