<br/>

<h1 class="display-4" style="text-align:center" >View All Products</h1>
<br/>

<div class="container">
  <% @products.each_slice(3) do |(p1, p2, p3)| %>
    <div class="row">
      <div class="col-sm"><%= render p1 if p1 %></div>
      <div class="col-sm"><%= render p2 if p2 %></div>
      <div class="col-sm"><%= render p3 if p3 %></div>
    </div>
  <% end %>
</div>


